* { border: none; outline: none; margin: 0px; padding: 0px; -webkit-box-sizing: border-box; color: #111;
-moz-box-sizing: border-box;
box-sizing: border-box; }

html, body { font-family: Helvetica; width: 100%; margin: 0px; }

.split-line { height: 1px; background: #d4d4d4; width: 100%; }

.red { color: red; }
.error-red { color: #A03246;}
.pink { color: #e63c5a; }
.bg-pink { background: #e63c5a; }
.cyan { color: #14465a; }
.green { color: #00ba99; }
.bg-green { background: #96af1e; }
.grey { color: #7d7d7d; }
.bg-yellow { background: #efb90c; }
.db { color: #444; }
.black { color: #666; }
.bw { color: #999; }
.bw a { color: #999; }
.db a { color: #444; }
.bg-grey { background-color: #D7D7D7; color: #fff; }
.bg-pink { background-color: #e63c5a; color: #fff; }
.bg-cyan { background-color: #14465a; color: #fff; }
.bg-green { background-color: #96af1e; color: #fff; }
.bold { font-weight: bold; }
.fs-12 { font-size: 12px; }
.fs-14 { font-size: 14px; }
.fs-15 { font-size: 15px; }
.fs-16 { font-size: 16px; }
.fs-18 { font-size: 18px; }
.fs-20 { font-size: 20px; }
.fs-24 { font-size: 24px; }
.fs-22 { font-size: 24px; }
.fs-25 { font-size: 25px; }
.fs-32 { font-size: 32px; }
.lh-40 { line-height: 40px; }
.ti { text-indent: 2em; }
.lb { border-left: 2px solid #f0a0a1; padding-left: 5px; }
.segoe-l { font-family: 'Segoe UI light', Arial; }
.segoe{ font-family: 'Segoe UI', Arial; }
.yahei{ font-family: 'Microsoft Yahei', Arial; }
.fc { font-family: Courier New; }
.float-left { float: left; }
.error {  }
.ib { display: inline-block; height: 10px; float: left; }
.clear { clear: both; }
.clear-0 { clear: both; height: 0px; font-size: 0px; float: none; overflow: hidden; }
.clear-2 { clear: both; height: 2px; font-size: 0px; float: none; overflow: hidden; }
.clear-3{ clear: both; height: 3px; font-size: 0px; float: none; overflow: hidden; }
.clear-4{ clear: both; height: 4px; font-size: 0px; float: none; overflow: hidden; }
.clear-5 { clear: both; height: 5px; font-size: 0px; float: none; overflow: hidden; }
.clear-7 { clear: both; height: 7px; font-size: 0px;  float: none; overflow: hidden; }
.clear-10 { clear: both; height: 10px; font-size: 0px;  float: none; overflow: hidden; }
.clear-15 { clear: both; height: 15px; font-size: 0px;  float: none; overflow: hidden; }
.clear-20 { clear: both; height: 20px; font-size: 0px;  float: none; overflow: hidden; }
.clear-25 { clear: both; height: 25px; font-size: 0px;  float: none; overflow: hidden; }
.clear-30 { clear: both; height: 30px; font-size: 0px;  float: none; overflow: hidden; }
.clear-35 { clear: both; height: 35px; font-size: 0px;  float: none; overflow: hidden; }
.clear-40 { clear: both; height: 40px; font-size: 0px;  float: none; overflow: hidden; }
.clear-50 { clear: both; height: 50px; font-size: 0px;  float: none; overflow: hidden; }
.clear-60 { clear: both; height: 60px; font-size: 0px;  float: none; overflow: hidden; }
.clear-80 { clear: both; height: 80px; font-size: 0px;  float: none; overflow: hidden; }
.clear-big { clear: both; height: 60px; font-size: 0px;  float: none; overflow: hidden; }
.lh_24 { line-height: 24px; }
#back-to-top { position: fixed; bottom: 100px; left: 50%; margin-left: 240px; width: 54px; height: 54px; display: none; }
.fl { float: left; }
.fr { float: right; }
.mr-5 { margin-right: 5px; }
.mr-0 { margin-right: 0px; }
.mr-10 { margin-right: 10px; }
.mr-20 { margin-right: 20px; }
.mr-40 { margin-right: 40px; }
.mb-0{ margin-bottom: 0px; }
.mb-5 { margin-bottom: 5px; }
.mb-10 { margin-bottom: 10px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }
.mt-5 { margin-top: 5px; }
.mt-10 { margin-top: 10px; }
.mt-15 { margin-top: 15px; }
.mt-20 { margin-top: 20px; }
.mt-30 { margin-top: 30px; }
.mt-25 { margin-top: 25px; }
.mt-45 { margin-top: 45px; }
.ml-5 { margin-left: 5px; }
.ml-10 { margin-left: 10px; }
.ml-20 { margin-left: 20px; }
.ml-30 { margin-left: 30px; }
.ml-40 { margin-left: 40px; }
.ml-60 { margin-left: 60px; }
.ml-70 { margin-left: 70px; }
.ml-72 { margin-left: 72px; }
.ml-20 { margin-left: 20px; }
.ml-15 { margin-left: 15px; }
.ml-85 { margin-left: 85px; }
.m-10 { margin: 10px; }
.hide  { display: none; }
.show  { display: block; }
.pd-10 { padding: 10px; }
.pd-5 { padding-left: 5px; }
.pl-5 { padding-left: 5px; }
.pl-0 { padding-left: 0px; }
.pl-10 { padding-left: 10px; }
.pl-20 { padding-left: 20px; }
.pl-70 { padding-left: 70px; }
.pr-0 { padding-right: 0px; }
.pr-5 { padding-right: 5px; }
.pt-28 { padding-top: 28px; }
.pt-20 { padding-top: 20px; }
.pt-5 { padding-top: 5px; }
.pt-8 { padding-top: 8px; }
.border { border: 1px solid #d7d7d7; }
.bb { border-bottom: 1px solid #d7d7d7; }
.border-inner { border: 5px solid #efece3; background: #fff; padding: 10px;     position: relative;float: left;}
.border-outer { border: 5px solid #e6e4cf; position: relative; float: left; }
.desc { font-size: 14px; }
.font-normal { font-weight: normal; }
.font-basic { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
.tc { text-align: center; }
.dashed-line { height: 0px; font-size: 1px; border-bottom: 1px dashed #d7d7d7 }
.dotted-line { height: 0px; font-size: 1px; border-bottom: 1px dotted #d7d7d7 }
.solid-line { height: 0px; font-size: 1px; border-bottom: 1px solid #d7d7d7 }
.no-deco a { text-decoration: none; }
.rainbow { height: 2px; width: 640px; font-size: 1px; background: url(/images/rainbow.png) no-repeat; }


.bold { font-weight: bold; }
.fs-yahei { font-family: 'Microsoft Yahei', Arial, Helvetica, sans-serif;  font-size: 14px; }
.fs-14{ font-size: 14px; }
.fs-16{ font-size: 16px; }
.fs-18 { font-size: 18px; }
.fs-20 { font-size: 20px; }
.fs-24 { font-size: 24px; }
.fs-32 { font-size: 32px; }
.ti { text-indent: 2em; }
.lb { border-left: 2px solid #00b9ff; padding-left: 5px; }
/** Segoe light **/
.segoe-l { font-family: 'Segoe UI light', Arial; }
.segoe{ font-family: 'Segoe UI', Arial; }



.wrap { position: relative; height: 100%; width: 100%; overflow: hidden; background: #fff; }
.column { margin: 0 auto; width: 100%; padding: 0px 20px; display: block; clear: both; }

.post .title { line-height: 26px; padding: 10px 0px 5px 0px; font-size: 18px; font-weight: bold; }
.post .info * { color: #777777; font-size: 14px; }
.post .content { line-height: 24px; color: #333; word-break: break-all; }

.agreement { font-size: 14px; line-height: 20px; }
.contact { font-size: 14px; line-height: 20px; }
